<html ng-app="sweetFriends">
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>



<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body ng-controller="friendController">

<h1>The <strong>facebook</strong> Friend Machine</h1>

<div class="friends">


<form class="form-inline searchForm" role="form">
  <div class="form-group">

  
  <!-- The stuff below is For step 5....get rid of the one above if you wish-->
   
    <input class="form-control" placeholder="Search Your Friends' Name" ng-model="search.name" >
    <input class="form-control" placeholder="Search Your Freinds' Location" ng-model="search.current_location" > 

    <select class="input-medium" ng-model="selector" ng-options="item.raw as item.pretty for item in options">
      <!--   <option>name</option>
        <option>friend_count</option>
        <option>city</option>
        <option>state</option>
        <option>country</option> -->
    </select>
    <select class="input-medium" ng-model="asc">
        <option value="true" >Descending</option>
        <option value="false" >Ascending</option>
    </select>
  </div>
</form>

  <ul ng-repeat="friend in friends | filter: search | orderBy: selector: asc">
    <li class='friend'>
       <img class="profile-pic" src= '{{friend.pic_square}}' >
      <h3>{{friend.name}}</h3>
      <div class="location">
        Location: {{friend.current_location.city}}, {{friend.current_location.state}}, {{friend.current_location.country}}
      </div>      
      <div class="status">
        {{friend.status.message}} 
        <span class="hashtag">#ihateprovo</span>
      </div>      
      <div class="num-friends">
        {{friend.friend_count}}
      </div>
    </li>
  </ul>
</div>






</body>
</html>